includes:
  - phpstan-baseline.neon
  - ./vendor/nunomaduro/larastan/extension.neon
  - ./vendor/phpstan/phpstan-phpunit/extension.neon
  - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  level: 9
  paths:
    - config
    - database
    - routes
    - src
  tmpDir: build/phpstan
  checkOctaneCompatibility: true
  checkModelProperties: true
  checkMissingIterableValueType: false
